/* common shared styles*/
.section-title {
    text-align: center;
    font-size: 35px;
    font-weight: 700;
}
.section-description {
    text-align: center;
    font-size: 25px;
}
.text-primary{
    color: #E55473;
}
.section-title {
    color: black;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
}
.section-description {
    color: black;
    text-align: center;
    font-size: 20px;
}


/* nav related styles */  

.text-primary{
    color: #E55473;
}
.btn-primary{
    background: #E55473;
}
nav > ul{
    display: flex;
    margin: 0px 200px;
}
.nav-tile {
    color: #FFFFFF;
}
nav li {
    list-style: none;
    margin-right: 20px;
}
nav a{
    text-decoration:none;
    color: #FFFFFF;
}
/*header related styles */
.banner{
    background-color: #fde7ed;
}
.banner{
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
}
.banner .profile-pic{
    width: 250px;
}
/* main section styles*/
main{
    max-width: 1140px;
    margin: 0 auto;
}

/* Our Featured Flowers */
.Flowers{
    padding: 50px;

}
/* skills related styles */
#Our-Featured-Flowers{
    padding: 20px 100px;
}
.skills-container{
    display: flex;
    background-color: #fde7ed;
    padding: 10px 10px 0px 10px;
    align-items:center;
    margin: 0 auto;
    
}
/* main section styles */
main{
    max-width: 1140;    
    margin: 0 auto;
}


/* instagram section styles */
.instagram{
    padding: 130px;
    border-radius: 10px;
    border-color: #FFFFFF;
    margin: 10px 0px;
}






    


